# --- Circle API Configuration ---
# DO NOT COMMIT YOUR ACTUAL .env FILE
CIRCLE_TEST_API_KEY=7d54d853bc018483f0c4fc4e7859ba08:a31ed369df168d0604084490ce0fafb6
CIRCLE_KIT_KEY=b64fee6a0b7834641fc71eb0414a9d68:2a1dde68f40cf580697fc0149cd26855

# --- Arc Network Configuration ---
ARC_RPC_URL=https://rpc.testnet.arc.network
POCKET_ORACLE_ADDRESS=
PRIVATE_KEY=
